<ion-view view-title="Színes gombok">
  <ion-content>
  
  <ul class="list">

  <div class="item item-divider"> 
          Toggle
 </div>
  
		<li class="item item-toggle">
		<label class="toggle toggle-assertive">
			<input type="checkbox">
			<div class="track">
			<div class="handle"></div>
			</div>
		</label>
		Színes ios checkox assertive
		</li>
	
<div class="item item-divider"> 
          Checkbox
 </div>
	
		<li class="item item-checkbox">
			<label class="checkbox">
			<input type="checkbox">
			</label>
			Sima ionic checkbox
		</li>

		<li class="item item-checkbox">
			<label class="checkbox checkbox-assertive" >
			<input type="checkbox">
			</label>
			Sima ionic checkbox színes
		</li>
		
<div class="item item-divider"> 
          Radio button
 </div>	
	<li>	 
	<label class="item item-radio">
		<input type="radio" name="group" value="">
		<div class="item-content">
		Első
		</div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
	</li>
	
	<li>	 
	<label class="item item-radio">
		<input type="radio" name="group" value="">
		<div class="item-content">
		Második
		</div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
	</li>
	
	<li>	 
	<label class="item item-radio">
		<input type="radio" name="group" value="">
		<div class="item-content">
		Harmadik
		</div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
	</li>
	
<div class="item item-divider"> 
		Button
 </div>	

 <button class="button button-full button-positive" ng-click="openModal()">
  Show Modal
</button>
 
	</ul>
  
  
  </ion-content>
</ion-view>
